<h1 mat-dialog-title>Organiser Details</h1>
<div mat-dialog-content>
    <div id="org" >

        <div   *ngFor="let org of this.orgData" >
                 Name &nbsp;&nbsp; :&nbsp;  <b> {{org[1]}}  &nbsp; {{org[2]}} </b>
            <br/>Email &nbsp; :&nbsp;  <b> {{org[3]}}</b>
            <br/>Phone &nbsp; :&nbsp;  <b> {{org[5]}} </b>

        </div>
    </div>
    <p id="orgn"></p>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()" class="btn waves-effect waves-light">Close</button>
</div>
